<div class="account-popup__container">
    <img class="account-popup__image" src="images/chat.png">
    <div class="account-popup__title z-h4 heading">
        {{login}}
    </div>
    <div class="account-popup__subtitle text t-4">
        <p>{{enter-email-psw-to-connect}}</p>
    </div>
    <div class="account-popup__error" data-account-error=""></div>
    <form action="javascript:void(0);" class="account-popup__inputs-container">
        <input class="input-text" data-type="email" name="email" placeholder="{{your-email}}" type="email">
        <input class="input-text" data-signin-password="" name="password" placeholder="{{your-password}}"
            type="password">
        <div class="account-popup__button">
            <button class="button button--full button--secondary">{{sign-in}}</button>
        </div>
    </form>
    <!-- TODO -->
    <!-- <div class="account-popup__mandatory-container align-left">
        <div class="text t-6 underline pointer" data-signin-forgot="">
            Mot de passe oublié
        </div>
    </div> -->
</div>
